{% extends "basefile.html" %}{% block contact %}
<h1 style="text-align: center; color: #333;">Contact Us</h1>
<p>Thank you for considering reaching out to us at PetFinder! We're here to assist you in any way we can. Please fill out the form below, and we'll get back to you as soon as possible.</p>
<form action="/savedata" method="POST" style="margin-top: 20px;">
    <label for="name" style="display: block; margin-bottom: 5px; font-weight: bold;">Title:</label>
    <input type="text" id="name" name="title" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">

    <label for="message" style="display: block; margin-bottom: 5px; font-weight: bold;">Message:</label>
    <textarea id="message" name="msg" rows="4" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;"></textarea>

    <input type="submit" value="Submit" style="justify-content: center; background-color: #4CAF50; color: white; padding: 12px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">
</form>

{% endblock contact %}